<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Mini Calculadora</title>
</head>
<body>
  <h1>{{title}}</h1>
  <div class = "container">

  <form>
    Número 1: <input type="number" [(ngModel)] = "numero1" name = "numero1" ><br/><br/>
    Número 1: <input type="number" [(ngModel)] = "numero2" name = "numero2"><br/><br/>
    <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-primary">
    <input type="submit" value="Restar" (click)="restar()"class="btn btn-primary" >
  
  </form></div>

  <p>Resultado = {{resultado}}</p>


  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

<!--
<h1>{{title}}</h1>
<form>
  Número 1: <input type="number" [(ngModel)] = "numero1" name = "numero1" ><br/><br/>
  Número 1: <input type="number" [(ngModel)] = "numero2" name = "numero2"><br/><br/>
  <input type="submit" value="Sumar" (click)="sumar()">
  <input type="submit" value="Restar" (click)="restar()">

</form>
<p>Resultado = {{resultado}}</p> -->